@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    background-color: #ff2e63;
    overflow: hidden;
}

header {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #252a34;
    color: #eaeaea;
    padding: 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.indicator {
    display: none;
    background-color: #252a34;
    color: #eaeaea;
    padding: 8px 14px;
    font-size: 18px;
}


.question-container, .answer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    height: 40%;
    width: 100%;
    background-color: #efd9ca;
    color: #252a34;
}

.end {
    display: none;
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
    font-size: 30px;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 12px;
}

.end-display {
    display: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    padding-bottom: 4em;
}

.start-again {
    display: none;
}

.q-para {
    font-family: 'Poppins', sans-serif;
    line-height: 1.1;
    font-size: 25px;
    padding: 12px;
    text-align: center;
}


.option {
    display: none;
    flex-direction: column;
    color: #252a34;
    width: 100%;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    appearance: none;
    border: 2px solid #fff;
    border-radius: 0.25rem;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 4px hsl(210, 11%, 17%);
}

label {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.1;
    background-color: #eaeaea;
    width: 100%;
    padding: 12px;
    margin-left: 12px;
}

.option div {
    display: flex;
    align-items: center;
    margin: 12px 0;
}
.answer-container {
    background-color: inherit;
    position: relative;
    max-width: 400px;
}

input[type="radio"] {
    height: 1.2rem;
    width: 1.3rem;
    vertical-align: middle;
    border-radius: 50%;
}

input[type="radio"]:checked {
    background-image: radial-gradient(
        hsl(210, 11%, 17%) 40%,
        transparent calc(40% + 1px)
    );
}

.nav {
    display: none;
    position: absolute;
    bottom: -12px;
    padding: 0 8px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cursor-no-drop {
    cursor: no-drop !important;
}

.style {
    background-color: #252a34;
    padding-left: 2px;
}

.style button {
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 16px;
    padding: 5px 12px;
    left: 3px;
    bottom: 6px;
    background-color: #eaeaea;
    color: #242424;
    margin: 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}


.credit {
    display: none;
    position: relative;
    top: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #252a34;
    font-family: sans-serif;
    text-align: center;
    z-index: 4;
}

.credit a {
    color: #eaeaea;
}
